<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website:s</title>
  </head>
  <body>
    {{> header}}
    <p>text to projects is here</p>

    {{> footer}}
  </body>
</html>
